*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Open Sans Condensed', sans-serif;
	box-sizing: border-box;
}

	@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.ibg{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.container{
	margin: auto;
	padding: auto;
	max-width: 1110px;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	font-size: 0px;
}

.header {
	position: absolute;
	width: 100%;
	z-index: 3;
	margin: 0 auto;

	.header-menu {
		width: 100%;
		margin: 51px 0 0 0;
		text-align: center;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		}
	

		.header-item {
			margin: 0 31.5px;
		}
	.header-link {
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 18px;	
		font-weight: 700;
		line-height: 25px;
		letter-spacing: 0.1em;
		text-align: center;
		white-space: nowrap;
		text-transform: uppercase;
		color: #fff;
		text-decoration: none;
	}

	.header-list {
		margin: 0 auto 0 auto;
		width: 100%;
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.header-item a{	
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 18px;	
		font-weight: 700;
		line-height: 25px;
		letter-spacing: 0.1em;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		text-decoration: none;
		white-space: nowrap;
		}
		.header-item a:hover{	
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 18px;	
		font-weight: 700;
		line-height: 25px;
		letter-spacing: 0.1em;
		text-align: center;
		text-transform: uppercase;
		color: #999;
		text-decoration: none;
		white-space: nowrap;
		}
	}
	.header-tel{
		position: relative;
		margin: 0 auto 0 130px;
	}
	.header-tel .header-item a:after{
		position: absolute;
		content: "";
		width: 149px;
		height: 0px;
		top: 35px;
		left: 30px;
		border: 1px solid #D1A954;
	}

.contact-nav {
	display: none;
}
.header-cross {
	display: none;
}

@media (max-width: 1365px){
	.header-menu {
		margin: 51px auto;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		}

	.header-list .header-item {
		margin: 0 10px;
	}
	.header-tel{
		margin: 51px auto;
		align-self: center;
	}
}

@media (max-width: 992px) {
	.container{
	max-width: 690px;
	}
	.header-menu {
		margin: 51px auto;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		}
	.header-list .header-item {
		margin: 0 auto;
		}
.header-tel{
		margin: 51px auto;
		align-self: center;
	}

}
.tel-link{
		display: none;
	}

	.main-screen {
		flex: 1 0 1045px;
		position: relative;
	}

	.main-screen-big {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: url("../img/01.jpg");
	}
	.contact-block{
		z-index: 3;
		position: absolute;
		top: 0;
		left: 0;
		width: 100px;
		height: 100%;
		display: block;	
	}
	.contact-inform {
		padding: 0 63px;
		height: 100%;
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		background-color: #333333;
		opacity: 0.75;
	}
	.contact-link {
		margin: 15px 0px;
		align-self: center;

	}
	.contact-link:last-child{
		margin: 15px 0px 86px 0px;
	}

	.contact-text {
		padding: 0;
		margin: 0 0 170px 0;
		position: relative;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 18px;
		white-space: nowrap;
		font-weight: 700;
		line-height: 25px;
		letter-spacing: 0.1em;
		text-align: center;
		color: #C4C4C4;
		text-transform: uppercase;

		writing-mode: vertical-lr;
		transform: rotate(180deg);

	}
	.contact-text:after{
		content: '';
		margin:  0;
		position: absolute;
		width: 80px;
		height: 2px;
		top: -35%;
		left: -110%;
		background-color: #C4C4C4; 
		transform: rotate(-90deg);
	}
@media (max-height: 830px) {

	.contact-inform {
	padding: 0 43px;
	height: 100%;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	background-color: #333333;
	opacity: 0.75;
	}
	.contact-link {
		margin: 10px 0px;
		align-self: center;
		transform: scale(0.8);	

	}
	.contact-link:last-child{
		margin: 10px 0px 36px 0px;
	}

	.contact-text {
		margin: 0 0 100px 0;
		font-size: 14px;

	}
	.contact-text:after{
		width: 40px;
		top: -30%;
		left: -32%;
	}

}

@media (max-width: 850px) {
	body.lock{
		overflow: hidden;
		}
		.contact-block{
			display: none;
		}
	.header-burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		top: 60px;
		left: 40px;
		z-index: 2;
	}

	.header-burger:before,
	.header-burger:after{
		content: "";
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
	}

	.header-burger:before{
			top: 0;
		}
	.header-burger:after{
			width: 25%;
			bottom: 0;
		}
	.header-burger span{
		content: "";
		background-color: #fff;
		position: absolute;
		width: 50%;
		height: 2px;
		left: 0;
		top: 9px;
		transition: all 0.3s ease 0s;
		}

		.header-burger.active{
			display: none;
		}
		.header-cross.active{
			margin: 0;
			padding: 0;
			z-index: 5;
			display: block;
			position: relative;
			content: "";
			top: 38px;
			right: -246px;
			width: 16px;
			height: 16px;
		}

		.header-cross:after{
			content: "";
			position: absolute;
			height: 16px;
			width: 2px;
			background-color: #fff;
			transform: rotate(45deg);
		}
		.header-cross:before {
			content: "";
			position: absolute;
			height: 16px;
			width: 2px;
			background-color: #fff;
			transform: rotate(-45deg);
		}
		.header-menu.active{
			display: block;
			margin: 0 0 0 0;
			width: 300px;
			left: 0;
		}
		.header-list.active{
			display: flex;
			position: relative;
			margin: 140px 0 79px 40px;
			flex-direction: column;
			align-items: flex-start;
		}
		.header-list.active li{
		margin: 35px 0 20px 0;
		}
		.header-list li:last-child{
		margin: 35px 0 0 0;
		}
		.header-tel{
			display: none;
		}
		.header-tel.link{
			display: block;
			position: absolute;
			float: right;
			right: 39px;
		}
		
		.header-link {
			font-size: 24px;
			line-height: 33px;
		}
	.header-menu {
		z-index: 3;
		position: fixed;	
		margin: 0;
		top: 0;
		display: block;
		left: -100%;
		width: 300px;
		height: 100%;
		overflow: auto;
		background-color: #333;
		opacity: 0.98;
		padding: 0 10px 20px 0;
		transition: all 0.3s ease 0s;
		}

		
	.contact-nav {
		margin: auto;
		padding: 0;
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap;
		align-self: center;
		width: 140px;
		height: 140px;

	.contact-link{
		display: flex;
		padding: 10px;
		justify-content: center;
		vertical-align: middle;
		margin: 0;
		transform: scale(1);
		}
		.contact-link img{
			width: 45px;
			height: 45px;	
		}

	}
	.tel-link {
		position: absolute;
		top: 50px;
		right: 0px;
		display: inline-block;
		margin: 0px auto 0  670px;
	}

}

.theatre-page {
	display: flex;
	justify-content: space-between;
	margin: 191px auto 208px auto;
}
.big-theatre {
	margin: 0;
	display: block;
	max-width: 540px;
}
.big-theatre h1{

	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 87px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.big-theatre-text {
	margin: 50px 0 0 0;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	color: #FFFFFF;
}
.link {
	display: inline-block;
	text-align: center;
	width: 160px;
	padding: 12.5px 0;
	font-family: "Open Sans Condensed";
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
	background: #D1A954;
	transition: all .1s ease-in;
	cursor: pointer;
}

.link:hover{
color: #C4C4C4;
background-color: #af8e56;
}

.big-theatre-link {
	margin: 50px 0 0 0;
	

}
.content-pic{
	display: block;
	position: relative;
	height: 100%;
}
.content-pic img{
	object-fit: cover;
}
@media (max-width:992px) {
	.content-pic{
		display: none;
	}
}

@media (max-width:1600px) {
	.header-menu{
		transform: scale(0.8);
	}
	.theatre-page {
		margin: 91px auto 208px auto;
		transform: scale(0.8);
		}
}

@media (max-width:1366px) {
	.header-menu{
		transform: scale(0.7);
	}
	.theatre-page {
		margin: 91px auto 208px auto;
		transform: scale(0.7);
		}
}
@media (max-width:850px) {
	.header-menu{
		transform: scale(1);
	}
	.theatre-page {
		margin: 91px auto 208px auto;
		transform: scale(1);
		}
}

.back {
	background-color: #333;
}
.about {
	margin: 150px 0 150px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.about h2{
	margin: 0 0 100px 0;
	width: 100%;
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 65px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.about h2:first-letter{
	color:  #D1A954;
}

.best-theatre {
	max-width: 445px;
}

.best-theatre h3{
	margin: 0 0 33px 0;
	font-family: "Open Sans Condensed";
	font-weight: bold;
	font-size: 21px;
	line-height: 29px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
}


.best-theatre p{ 
	margin: 0 30px 0 0;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	color: #FFFFFF;
}


.numerals {
	display: flex;
	width: 255px;
	flex-wrap: wrap;
	justify-content: flex-start;
	flex-direction: column;
}
.numerals h3{
	margin: 0 0 33px 0;
	font-style: normal;
	font-weight: 300;
	font-size: 21px;
	line-height: 29px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.numerals span{
	padding: 0;
	display: block;
	white-space: nowrap;
	margin: 7px 0 0 0;
	font-weight: 300;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
}
.numerals span .color-text {
	padding: 0;
	display: inline-block;
	font-family: "Open Sans Condensed";
	font-weight: 700;
	color: #D1A954;
}
.numerals-icon {
	margin: 0 0 24px 0;
	display: block;
}
.numerals-icon:last-child {
	margin: 0 0 0 0;

}
.theatre-photo {
	margin: 0 0 0 30px;
	max-width: 350px;
}


.projects-slider {
	overflow: hidden;
	padding: 0 0 0 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.projects-slider h2{
	align-self: center;
	margin:  0 0 100px 0;
	display: block;
	width: 100%;
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 65px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fff;
}
.projects-slider h2 span{
	color: #D1A954;
}
.slider{
	padding-left: 150px;
	min-width: 0;
	z-index: 1;
	overflow: hidden;
	position: relative;
	width: 100%;
	display: flex;
	align-items: flex-end;
	flex-wrap: no-wrap;
	justify-content: center;
}
.slider-slide {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	max-width: 443px;
	background-color: #333333;
	transition: all 0.3s ease 0s;
}

.slider-slide:hover {
	opacity: 1;
}

.project-title {
	position: absolute;
	top: 40px;
	left: 40px;
	content: '';
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
}

.slider-slide:hover .project-title {
	display: none;
}
.prolect-date{
	content: '';
	position: absolute;
	bottom: 40px;
	left: 40px;
	white-space: nowrap;
	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.1em;
	color: #fff;
	text-transform: uppercase;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}
.slider-slide:hover .prolect-date{
	display: none;
}

.slider-icon-lupa{
	display: none;
}

.slider-slide:hover .slider-icon-lupa {
	content: '';
	display: block;
	position: absolute;
	width: 100px;
	height: 100px;
	text-align: center;
	background-color: #D1A954;
	border-radius: 50%;
	top: 50%;
	right: 35%;
}

.slider-icon-lupa img{
	margin: 35px 0;
}

.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}

.slider-slide {
	transition: all 0.3s ease-in 0.1s;
	opacity: 0.65;
	text-align: center;
}
.slider-item.slick-center {
	opacity:1;
	text-align: center;
}

.block-stars {
	overflow: hidden;
	height: 550px;
	margin: 150px 0 150px 0;
	background-image: url('../img/03.jpg');
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}
.stars-years {

	margin: 0 110px 0 0px;
	display: flex;
	flex-direction: column;
	// align-items: flex-start;
	justify-content: space-between;
}
.stars-text {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 360px;
	margin: 25px 0 0 0;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 150%;
	color: #FFFFFF;
}

.stars-text img{
	margin: 0 0 25px 0;
}


.partners {
	overflow: hidden;
}
.partners-title {
	width: 100%;
	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 65px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fff;
}
.partners-title span{
	color: #D1A954;
}
.partners-logos {	
	margin: 100px 0 0 0;
	width: 1100px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.partners-link {
	margin: 0 29px 80px 29px; 
	width: 200px;
}
.partners-link:nth-child(5),
.partners-link:nth-child(6),
.partners-link:nth-child(7),
.partners-link:nth-child(8) {
	margin: 0 29px 0 29px; 
	width: 200px;
}

.metc-form {
	margin: 120px 0 80px 0;
}
.form-title {
	margin: 0 0 100px 0;
	width: 100%;
	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 65px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fff;
}
.form-title span{
	color: #D1A954;
}

.metc-row{
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.address {
	margin: 0 0 0 0;
	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #fff;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-between;
}
.address span{
	margin: 0 0 26px 0;
}

.form{
	display: flex;
	max-width: 730px;
	height: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
}

.input {
	margin: 0 30px 30px 0;
	width: 180px;
	height: 35px;
	background: #444444;
	border: 1px solid #616161;
	padding: 0 15px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 150%;
	color: #989898;
	vertical-align: text-top;
}

.input:nth-child(3),
.input:nth-child(4){
	margin: 0 30px 0px 0;
}
.input-big {
	margin: 0 0 0 0;
	padding-bottom: 50px;
	width: 310px;
	height: 100px;
	line-height: 12px;
}
.notice {
	padding: 0;
	margin: 40px 0 0 0;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 150%;
	color: #989898;
}
.form-button {
	cursor: pointer;
	margin: 40px 0 0 0;
	padding: 10px 35px;
	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	border: none;
	background-color: #D1A954;
	transition: all .1s ease-in;
}
.form-button:hover{
color: #C4C4C4;
background-color: #af8e56;
}
.form-column {
	width: 390px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: center;
}

.form-row{
	margin: 0;
	width: 390px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.form-row .input{
	margin: 0 30px 30px 0;
}
.form-row .input:last-child{
	margin: 0 0 30px 0;
}

.form-row2{
	margin: 0;
	width: 390px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.form-row2 .input{
	margin: 0 30px 0 0;
}
.form-row2 .input:last-child{
	margin: 0 0 0 0;
}

.form-column1{
	width: 270px;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
}

.form-column2{
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: no-wrap;
}

.color-text {
	padding: 0;
	font-size: 72px;
	line-height: 98px;
	letter-spacing: 0.1em;
	font-family: "Open Sans Condensed";
	font-weight: 700;
	color: #D1A954;
}
// ==============================FOOTER=======
.footer {}
.footer-row {
	padding: 30px 0;
	border-top: 1px solid #565656;
	display: flex;
	justify-content: space-between;
}
.copy {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 150%;
	color: #989898;
}
.made-by {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 150%;
	color: #989898;
}



//==================ADAPTIPVE=================

@media (max-width: 1024px), (max-height: 1024px) {
		.main-screen {
		flex: 1 0 900px;
		position: relative;
	}
}
@media (max-width: 1310px) {
	.theatre-photo{
		display: none;
	}
	.slider{
		overflow: hidden;
	}
}
@media (max-width: 1346px) {
	.metc-form{
		overflow: hidden;
	}
	.metc-row{
		align-items: center;
		flex-direction: column-reverse;
	}
	.address{
		margin: 80px 0 0 0;
		max-width: 700px;
		flex-direction: row;
		align-items: stretch;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.address span{
		flex: 1 0 50%;
		text-align: left;
	}
	.address span:nth-child(1){
		order: 1;
	}
	.address span:nth-child(2){
		order: 3;
		margin: 0;

	}
	.address span:nth-child(3){
		order: 2;
		flex-grow: 0;
		text-align: right;
	}
	.address span:nth-child(4){
		margin: 0 0 0 0;
		order: 4;
		flex-grow: 0;
		text-align: right;
	}
	.footer-row{
		margin: 0 auto;
		max-width: 690px;
		overflow: hidden;
	}
}
@media (max-width: 992px) {
	.numerals{
	margin: 40px 33px 0 33px;
	width: 100%;
	
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	}
	.numerals h3{
		width: 100%;
		text-align: center;
	}
	.numerals-icon{
		max-width: 100%;
		text-align: center;
		flex: 1 0 50%;
	}
}
@media (max-width: 850px) {
.big-theatre{
	margin: 0 33px 0 33px;
	& h1{
		font-size: 50px;
		line-height: 67px;
		margin: 117px 0 0 0;
	}
}

.slider-body{
		display: none;
	}

	.about{
		margin: 90px 33px 90px 33px;
	}
	.projects-slider{
		padding: 0 0 0 0;
		.slider{
			padding: 0 0 0 0px;
		}
	}
	.block-stars{
		    margin: 90px 0 90px 0;
		    .stars-years{
		    	    margin: 0 auto 0 33px;
		    	    & span{
		    	    	font-size: 60px;
		    	    }
		    }
		    .stars-text{
		    	width: 330px;
		    	margin: 0 33px 0 24px;

		    }
	}
	.partners-logos{
		margin: 60px 0 0 0;
	}

	.address{
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 60px 15px 0 15px;
	}


	.metc-form{
		margin: 90px 0 60px 0;
	}
	.form-title{
		margin: 0 0 60px 0;
	}


	.form{
		margin: 0 15px;
		flex-direction: column;
		align-items: center;
	}

	.form-row {
		margin: 0 auto 0 0;
		width: 47%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		.input{
			width: 100%;
			margin: 0 0 30px 0;
		}
	}
	.form-row2{
		margin: 0 0 0 auto;
		width: 47%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		.input{
			width: 100%;
			margin: 0 0 30px 0;
			}
		}
		.form-row2 .input:last-child{
			margin: 0 0 30px 0;
		}

	.form-column{
		width: 100%;
		margin: 0 0 0 0;
		flex-direction: row;
		justify-content: space-between;
	}

	.form-column1{
		width: 100%;

		.input-big{
			width: 100%;
			margin: 30px auto 0 auto;
		}
	
	}
	.form-column2{
		flex-direction: column-reverse;
		width: 100%;
		.form-button{
			max-width: 190px;
			text-align: center;
			align-self: center;
		}
	}

	.footer-row {
		margin: 0 15px;
	}
}